:root {
  --white: #FFF;
  --black: #000;
  --grey: #777;
  --slate300: hsl(212, 45%, 89%);
  --slate500: #D5E1EE;
  --slate900: #3685FF;
}
body {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-size: 1em; /* 16px */
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-style: normal;
  background-color: var(--slate500);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.attribution { padding-top: 1rem; text-align: center; }
.attribution p { font-size: 0.688rem; }
.attribution a { color: var(--grey); }
.container {
  background-color: var(--white);
  margin: 0 auto;
  width: 10.75rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.qr-wrapper {
  background-color: var(--slate900);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}
.qr-wrapper::after {
  content: "";
  display: block;
  padding-top: 100%;
}
.qr {
  width: 6.75rem;
}
p {
  color: var(--grey);
  font-size: 0.75rem;
  text-align: center;
}
h1 {
  color: var(--black);
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
}